*{
    margin:0;
    padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right,#8400ff,rgb(0, 255, 217));
}
.app{
    background:#fff;
    width:90%;
    max-width:600px;
    margin:100px auto 0px;
    border-radius: 10px;
    padding : 30px;
}
.app h1{
    font-weight: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding:20px 0;
}
.quiz h2{
    font-size:18px;
    color: #001e4d;
    font-weight: 600px;
    padding-bottom: 30px;
}
.btn{
    background: rgb(199, 255, 247);
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
cursor:default;
}
#next-btn{
    background:#b98be5;
    color:#fff;
    margin: 30px auto;
    font-size: 18px;
    width: 30%;
    height: 37px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
    display: none;

}
#next-btn:hover{
    background: rgb(0, 255, 217);
    color:#222;
}
.incorrect{
    background: rgb(255, 157, 157);
}
.correct{
    background:rgb(112, 255, 60);
}
